.content{
   display: flex;
   min-height: 100vh;
}

.auth{
   display: flex;
   flex-direction: column;
   width: 514px;
   padding: 40px;
   background-color: var(--secondaryMain);

   .homeLink{
      align-self: flex-start;
   
      svg{
         width: 22px;
      }
   }
}

.form{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin: auto 0;

   h1{
      text-align: center;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
   }

   input{
      height: 50px;
   }
}