.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.title {
   text-transform: uppercase;
   font-weight: 600;
}

.buttons {
   display: flex;
   align-items: center;
   gap: 14px;

   & button {
      span {
         max-width: 30px;
         height: 30px;
      }
      &.removeBtn svg {
         width: 20px;
         fill: none;
      }

      &.closeBtn svg {
         width: 14px;
      }
   }
}
