div.wrapper{
   max-width: 1150px;
}

.content{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.content{
   padding: 25px 0;
}

.title{
   font-size: 30px;
   font-weight: 700;
}

@media screen and (max-width: 400px) {
   .title{
      font-size: 24px;
   }
}