.content {
   display: flex;
   align-items: center;
   gap: 17px;
   padding: 25px 0;
}

.sort,
.selectLength {
   flex-shrink: 0;
}

.sort button,
.selectLength {
   font-weight: 500;
   font-size: 16px;
   text-transform: uppercase;
}

.searchWrap {
   display: flex;
   align-items: center;
   gap: 17px;
   flex-grow: 1;
}

.search {
   max-width: 325px;
   width: 100%;
   height: 50px;
}

.selectLength {
   max-width: 215px;
   width: 100%;
}

button.searchBtn {
   svg {
      width: 28px;
   }
}

@media screen and (max-width: 1092px) {
   .content {
      flex-wrap: wrap;
   }

   .sort,
   .sort > div {
      flex-grow: 1;
   }

   .sort {
      order: 1;
      gap: 5px;

      button,
      label {
         width: 100%;
         border-radius: 20px;
      }
   }

   .search {
      max-width: 700px;
   }
}

@media screen and (max-width: 695px) {
   .content,
   .sort,
   .searchWrap {
      gap: 10px;
   }

   .searchWrap {
      flex-shrink: 1;
      flex-grow: 1;
      width: 100%;
   }

   .content {
      .sort {
         display: contents;
         flex-shrink: 1;

         & > div {
            flex-shrink: 1;
            order: 2;
         }

         & > div:nth-child(2) {
            display: none;
         }

         button,
         button > span {
            &:not(:first-child),
            &:first-child,
            &:last-child {
               border-radius: 20px;
            }
         }
      }
   }

   .selectLength {
      max-width: unset;
      order: 3;
   }
}
