.footer {
   padding: 15px 0;
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
}

.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.desc {
   display: flex;
   align-items: center;
   gap: 16px;
}

.descText {
   font-family: Philosopher;
   font-size: 16px;
}

.links {
   display: flex;
   align-items: center;
   gap: 15px;
   
   a{
      color: inherit;
   }
}
