.input{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 50px;
   padding: 10px 20px;
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
   border-radius: 20px;
}

.input::placeholder{
   color: var(--secondaryText)
}