.header{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 20px;

   h2{
      font-size: 32px;
      font-weight: 700;
   }

   a{
      font-size: 18px;
      font-weight: 500;

      span{
         min-height: 35px;
         padding: 5px 20px;
      }

      svg{
         width: 22px;
      }
   }
}

.stories {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 23px;
}
