.header{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   margin-bottom: 25px;

   h2{
      font-size: 32px;
      font-weight: 700;
   }

   a{
      font-size: 18px;
      font-weight: 500;

      span{
         min-height: 35px;
         padding: 5px 20px;
      }

      svg{
         width: 22px;
      }
   }
}

.stories {
   display: grid;
   grid-template-columns: repeat(4, minmax(250px, 1fr));
   gap: 23px;
}

@media screen and (max-width: 1130px) {
   .stories{
      grid-template-columns: repeat(2, minmax(250px, 1fr));
   }
}

@media screen and (max-width: 610px) {
   .stories{
      grid-template-columns: repeat(1, minmax(200px, 1fr));
   }
}
