.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 3px;
   width: 81px;
   min-height: 63px;
   max-height: 160px;
   padding: 5px;
   border: 2px solid var(--thirdLight);
   border-radius: 7.5px;
   background-color: var(--primaryMain);
   cursor: pointer;
}

.imgWrap{
   width: 100%;
   aspect-ratio: 1 / 0.7;
   max-height: 89px;
   border-radius: 5px;
   overflow: hidden;

   img{
      flex-shrink: 0;
      flex-grow: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.title{
   width: 100%;
   font-size: 7px;
   font-weight: 600;
   text-align: center;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   word-wrap: break-word;
   overflow: hidden;
}

.title{
   font-size: 7px;
   font-weight: 600;
}

div.handle{
   bottom: 1px;
   width: 7px;
   height: 7px;
   border-color: var(--thirdLight);
   background-color: var(--thirdMain);
}