// statistics

.stats {
   max-width: 900px;
}

.statsWrap {
   display: flex;
   gap: 8px;
}

.allResults {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   gap: 4px;
}

.resultColumn {
   min-width: 75px;
   border: 4px solid var(--secondaryMain);
   border-radius: 10px;
}
