.load {
   display: flex;
   flex-direction: column;
   padding: 15px;
   border-radius: 20px;
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
}

.input {
   flex-shrink: 0;
   margin-bottom: 15px;
   
   input {
      background-color: var(--primaryMain);
   }
}

.content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 7px;
   flex-grow: 1;
   width: 100%;
   font-size: 14px;
   font-weight: 500;

   p{
      text-align: center;
   }

   svg {
      width: 29px;
      fill: var(--secondaryText);
   }

   img {
      flex-grow: 0;
      object-fit: contain;
      width: auto;
      height: 100%;
      border-radius: 10px;

      &::before, &::after{
         content: '';
         display: none;
      }
   }
}
