.items {
   display: flex;
   gap: 15px;
}

.itemWrap {
   flex-shrink: 1;
   height: 197px;
   padding: 3px;
   border-radius: 15px;
   background-image: var(--gradientMain);

   &:nth-child(1) {
      flex-grow: 1;
   }

   &:nth-child(2) {
      width: 40%;

      svg {
         width: 28px;
         margin-left: 5px;
         fill: var(--secondaryText);
      }

      &:hover .item {
         background-color: rgba(0, 0, 0, 0);
      }
   }

   .item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 15px;
      border-radius: 13px;
      background-color: var(--secondaryMain);
      color: var(--secondaryText);
      font-size: 25px;
      font-weight: 600;
      transition: 0.15s background-color linear;

      h1,
      h3 {
         font-size: inherit;
         text-align: center;
         font-weight: inherit;
      }

      h1 {
         max-width: 386px;
      }
   }
}

@media screen and (max-width: 775px) {
   .items {
      flex-direction: column;
   }
   .itemWrap {
      &:nth-child(1),
      &:nth-child(2) {
         width: 100%;
      }

      .item{
         font-size: 20px;
      }
   }
}
