.scenesWrapper {
   height: 100%;
   background: url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/shape-1.svg")
         left center no-repeat,
      url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/dots.svg")
         center center no-repeat,
      url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/shape-2.svg")
         right center no-repeat;
   background-size: auto 100%, auto 90%, auto 100%;
}

.content {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding: 15px 0;
}

@media screen and (max-width: 700px) {
   .storyWrapper {
      background: none;
   }
}