.wrap{
   position: relative;
   display: flex;
   flex-direction: column;

   button{
      width: 100%;
      text-transform: inherit;
      font: inherit;

      svg {
         transition: transform 0.15s linear;
      }
   }

   &.opened{
      button svg{
         transform: rotate(-180deg);
      }
   }
}

.options{
   position: absolute;
   top: calc(100% + 4px);
   left: 0;
   display: flex;
   flex-direction: column;
   gap: 1px;
   width: 100%;
   background-color: var(--primaryMain);
   border-radius: 20px;
   overflow: hidden;
   z-index: 50;

   * {
      width: 100%;
      text-transform: inherit;
      font: inherit;
   }

   & > * {
      &:not(:first-child) {
         button,
         button > span {
            border-radius: 0;
         }
      }

      &:first-child {
         button,
         button > span {
            border-radius: 20px 20px 0 0;
         }
      }

      &:last-child {
         button,
         button > span {
            border-radius: 0 0 20px 20px;
         }
      }
   }
}