.header{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap: 25px;
}

.title{
   font-size: 35px;
}

@media screen and (max-width: 540px) {
   .header{
      justify-content: center;
   }
}