.modal {
   z-index: 900;

   & > div {
      width: 100%;
   }
}

.content {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   background-color: var(--primaryMain);

   .closeBtn {
      width: 100%;
      border-radius: 0;

      span {
         border-radius: 0;
      }
   }
}

.sceneWrap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-grow: 1;
   background: url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/shape-1.svg")
         left center no-repeat,
      url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/dots.svg")
         center center no-repeat,
      url("https://raw.githubusercontent.com/IvanZemsky/files/refs/heads/main/StoryQuests/svg/shape-2.svg")
         right center no-repeat;
   background-size: auto 100%, auto 90%, auto 100%;
}
