@import "/src/shared/lib/styles/mixins.scss";

.select {
   width: 30%;
   flex-grow: 1;
}

button.nextSceneBtn {
   align-self: stretch;
   opacity: 0.5;

   svg {
      width: 10px;
      transition: 0.15s stroke linear;
   }
}

.select:has(input:checked) + button.nextSceneBtn{
   opacity: 1;

   @include hoverEffect("&:hover") {
      svg {
         stroke: var(--thirdLight);
      }
   }
}

@media screen and (max-width: 820px) {
   .select button{
      font-size: 16px;
   }
}

@media screen and (max-width: 700px) {
   .select{
      width: 100%;
      
      & label{
         min-height: 55px;

         button{
            border-radius: 0;
            height: 100%;
   
            span{
               height: 100%;
               border-radius: 0;
            }
         }
      }

      
   }
}
