@import "/src/shared/lib/styles/mixins.scss";

.content {
   display: flex;
   flex-direction: column;
   gap: 15px;
   max-width: 996px;
   width: 100%;
}

.title {
   font-family: "Philosopher";
   font-size: 21px;
   font-weight: 700;
   letter-spacing: 1px;
}

.desc {
   font-size: 16px;
}

.controls {
   display: flex;
   justify-content: center;
   gap: 10px;
   flex-grow: 1;
}

.illustration {
   width: 67%;
   object-fit: cover;
   max-width: 595px;
   max-height: 400px;
   border-radius: 15px;
   border: 2px solid var(--primaryDark);
   flex-shrink: 1;
}

.endBtn {
   align-self: stretch;

   span {
      width: 100%;
   }

   svg {
      width: 10px;
      transition: 0.15s stroke linear;
   }

   @include hoverEffect("&:hover") {
      svg {
         stroke: var(--thirdLight);
      }
   }
}

@media screen and (max-width: 700px) {
   .illustration{
      max-width: 100%;
      width: 100%;
   }

   .controls{
      flex-direction: column;
   }
}
