@import "/src/shared/lib/styles/mixins.scss";

.select {
   width: 30%;
   flex-grow: 1;
}

button.nextSceneBtn {
   align-self: stretch;
   opacity: 0.5;

   svg {
      width: 10px;
      transition: 0.15s stroke linear;
   }
}

.select:has(input:checked) + button.nextSceneBtn{
   opacity: 1;

   @include hoverEffect("&:hover") {
      svg {
         stroke: var(--thirdLight);
      }
   }
}
