.title {
   margin-bottom: 25px;
   font-size: 30px;
}

.headerLinks {
   display: flex;
   align-items: stretch;
   gap: 12px;

   & > * {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding-left: 15px;
      border-left: 2px solid var(--secondaryMain);
      text-align: center;

      &:last-child {
         padding-right: 15px;
         border-right: 2px solid var(--secondaryMain);
      }
   }

   .toStoryLink {
      color: inherit;

      &:hover {
         text-decoration: underline;
      }
   }
}

.skeleton {
   width: 100%;
   max-width: 500px;
   height: 30px;
   background-color: var(--secondaryMain);
   border-radius: 15px;
}

.author a {
   font-weight: 600;
   color: inherit;
}
