@import "/src/shared/lib/styles/mixins.scss";

.container {
   display: inline-block;
   padding: 2px;
   border-radius: 20px;
   transition: all 0.15s linear;

   &.minWidth {
      min-width: 125px;
   }
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 13px 15px;
   width: 100%;
   min-height: 100%;
   border-radius: 19px;
   transition: all 0.15s linear;

   &.icon {
      min-width: 49px;
      padding: 0;
      aspect-ratio: 1 / 1;
   }

   svg {
      width: 17px;
      height: auto;
      transition: all 0.15s linear;
   }
}

.outlined {
   background: var(--gradientMain);

   &.secondary {
      .content {
         background-color: var(--secondaryMain);
         color: var(--secondaryText);
      }
      svg {
         fill: var(--secondaryText);
         stroke: var(--secondaryText);
      }
   }

   &.primary {
      .content {
         background-color: var(--primaryDark);
         color: var(--primaryText);
      }
      svg {
         fill: var(--secondaryText);
         stroke: var(--secondaryText);
      }
   }

   @include hoverEffect("&.defaultHover:hover") {
      .content {
         background-color: rgba(0, 0, 0, 0);
      }
   }
}

.filled {
   background: var(--gradientMain);

   &.primary {
      box-shadow: 0px 0px 0px 5px var(--primaryDark) inset;

      .content {
         background-color: var(--primaryDark);
         color: var(--primaryText);
      }

      svg {
         fill: var(--primaryText);
         stroke: var(--primaryText);
      }
   }

   &.secondary {
      box-shadow: 0px 0px 0px 5px var(--secondaryMain) inset;

      .content {
         background-color: var(--secondaryMain);
         color: var(--secondaryText);
      }

      svg {
         fill: var(--secondaryText);
         stroke: var(--secondaryText);
      }
   }

   @include hoverEffect("&.defaultHover:hover") {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0) inset;
   }
}
