.userResult {
   min-height: 328px;
   max-width: 900px;
   border-radius: 15px;
   background-color: var(--secondaryMain);
}

.resultTitle {
   margin-bottom: 10px;
   font-size: 16px;
   font-weight: 600;
}